.slide {
  user-select: none;
  max-width: 35.2vw;
}

.slide__title {
  margin: 0 auto;
  font-family: $font_main;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  text-align: center;
}

.slide__info {
  margin-top: 2vh;
  margin-bottom: 0;
}

.slide__stats {
  display: block;
  margin: 0 auto;
  max-width: 30vw;
}


@include AtDesktopM {
  .slide__title {
    font-size: 20px;
  }
}


@include AtDesktopS {
  .slide__title {
    padding: 0 20px;
    font-size: 18px;
  }
}