.lead {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-image: url('../../../images/bg-main-1920.jpg');
  background-position: top right;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background:
      linear-gradient(90deg, rgba($color_black, .5) 6%, transparent 50%, transparent 67%, rgba($color_black, .5) 82%),
      linear-gradient(180deg, rgba($color_black, .6) 0%, transparent 39%, transparent 60%, rgba($color_black, .8) 95%);
    z-index: -1;
  }
}

.lead__title {
  margin: 0;
  max-width: 760px;
  font-weight: 400;
  font-size: 102px;
  line-height: 1;
  text-transform: uppercase;
  text-shadow: 4px 4px 4px rgba($color_dark, .25);
}

.lead__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.lead__list-item {
  margin-left: 70px;

  &:first-of-type {
    margin-left: 0;
  }
}

.lead__link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    @for $i from 1 through 6 {
      .lead__link-option:nth-child(#{$i}) {
        animation-delay: $i * .12s;
      }
    }

    .lead__link-option {
      animation: opacOption .2s linear;
    }

    .lead__link-final {
      animation: opacFinal .84s linear forwards;
    }
  }
}

.lead__link-option {
  position: absolute;
  opacity: 0;
  transition: .2s linear;
}

.lead__link-final {
  opacity: 1;
  transition: .2s linear;
}


@keyframes opacOption {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes opacFinal {
  0%, 100% {
    opacity: 1;
  }
  10%, 99% {
    opacity: 0;
  }
}