$font_main: 'NotCourierSans', Arial, sans-serif;
$font_programmer: 'KPProgrammerAlternatesNBP', Arial, sans-serif;

$color_black: #000;
$color_dark: #212121;
$color_white: #fff;
$color_grey: #c4c4c4;

$cursor_hover: url('../../images/cursor/cursor-hover.svg') 10 10, pointer;

$cubic-bezier: cubic-bezier(0.3, 0.27, 0.07, 1.64);


.app {
  position: relative;
  margin: 0 auto;
  min-width: 320px;
  max-width: 1920px;
  box-sizing: border-box;
  background-color: $color_dark;
  font-family: $font_main;
  font-weight: 400;
  color: $color_white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  cursor: url('../../images/cursor/cursor.svg') 6 6, auto;
}

.app__section {
  position: relative;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 12vh 6.25vw;
}

.app__section-title {
  margin: 0;
  font-family: $font_main;
  font-weight: 400;
  font-size: 44px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: -0.05em;
}

.app__section-content {
  margin-top: 12.5vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 8.3vh;
  column-gap: 4.7vw;
}

.app__link, .app__button {
  cursor: $cursor_hover;
  color: $color_white;
  transition: .2s ease;
}

.app__link {
  text-decoration: none;
}

.app__button {
  box-sizing: border-box;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
}

.app__animated-element {
  position: relative;
  width: min-content;
  height: min-content;
  overflow: hidden;

  & > *:first-child {
    position: relative;
    display: block;
    transition: .2s linear;

    &::after {
      content: attr(data-hover);
      position: absolute;
      top: 100%;
      left: 0;
    }
  }

  &:hover > *:first-child {
    display: block;
    transform: translateY(-100%);
  }
}
