$font_main: 'NotCourierSans', Arial, sans-serif;
$font_programmer: 'KPProgrammerAlternatesNBP', Arial, sans-serif;

$color_black: #000;
$color_dark: #212121;
$color_white: #fff;
$color_grey: #c4c4c4;

$cursor_hover: url('../../images/cursor/cursor-hover.svg') 10 10, pointer;

$cubic-bezier: cubic-bezier(0.3, 0.27, 0.07, 1.64);


.app {
  position: relative;
  margin: 0 auto;
  min-width: 320px;
  max-width: 1920px;
  box-sizing: border-box;
  background-color: $color_dark;
  font-family: $font_main;
  color: $color_white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  cursor: url('../../images/cursor/cursor.svg') 6 6, auto;
}

.app__link, .app__button {
  cursor: $cursor_hover;
}

.app__link {
  color: $color_white;
  text-decoration: none;
  transition: .2s ease;
}

.app__button {
  box-sizing: border-box;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  color: $color_white;
  transition: .2s ease;
}

.app__section {
  position: relative;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 130px 120px;
}
