.app {
  position: relative;
  margin: 0 auto;
  min-width: 320px;
  max-width: 1920px;
  box-sizing: border-box;
  background-color: $color_dark;
  font-family: $font_main;
  font-weight: 400;
  color: $color_white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  cursor: url('../../images/cursor/cursor.svg') 6 6, auto;
}

.app__section {
  position: relative;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 12vh 6.25vw;
  padding-right: 120px;
}

.app__section-title {
  margin: 0;
  font-weight: 400;
  font-size: 44px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: -0.05em;
}

.app__section-content {
  margin-top: 12.3vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 4vh;
  column-gap: 4.7vw;
}

.app__link, .app__button {
  cursor: $cursor_hover;
  color: $color_white;
  transition: .2s ease;
}

.app__link {
  text-decoration: none;
}

.app__button {
  box-sizing: border-box;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
}

.app__animated-element {
  position: relative;
  width: min-content;
  height: min-content;
  overflow: hidden;

  & > *:first-child {
    position: relative;
    display: block;
    transition: .2s linear;

    &::after {
      content: attr(data-hover);
      position: absolute;
      top: 100%;
      left: 0;
    }
  }

  &:hover > *:first-child {
    display: block;
    transform: translateY(-100%);
  }
}


@include AtDesktopM {
  .app__section {
    padding-right: 90px;
  }

  .app__section-title {
    font-size: 34px;
  }

  .app__section-content {
    margin-top: 11vh;
  }
}