.navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.navigation__link {
  display: block;
  position: relative;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  padding: 3.7vh 30px 0;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;

  &_active {
    font-weight: 700;
  }

  &::after {
    content: attr(data-hover);
    position: absolute;
    bottom: 0;
    left: -100vw;
    transform: rotate(180deg);
    padding-right: 20px;
    writing-mode: horizontal-tb;
    font-weight: 700;
    font-size: 130px;
    color: $color_white;
    transition: .45s $cubic-bezier;
  }

  &_hovered:hover {
    color: transparent;

    &::after {
      left: -1.7vw;
    }
  }
}


@include AtDesktopM {
  .navigation__link {
    font-size: 24px;
    padding-left: 20px;
    padding-right: 20px;

    &::after {
      font-size: 106px;
    }
  }

}


@include AtDesktopS {
  .navigation__link {
    font-size: 22px;

    &::after {
      font-size: 90px;
    }
  }
}