@function generateStars($n) {
  $value: "#{random(2000)}px #{random(200)}vh rgba(165, 190, 195, #{random(10)/10})";

  @for $i from 0 through $n {
    $value: "#{$value}, #{random(2000)}px #{random(200)}vh rgba(225, 225, 225, #{random(10)/10})";
  }

  @return unquote($value);
}

$shadows-small: generateStars(250);
$shadows-medium: generateStars(150);
$shadows-large: generateStars(50);

.stars {
  position: absolute;
  left: 0;
  top: 0;
  background: transparent;
  border-radius: 100%;
  animation: blink 4s infinite;
  width: 2px;
  height: 2px;
  box-shadow: $shadows-small;

  &_size_m {
    width: 3px;
    height: 3px;
    box-shadow: $shadows-medium;
    animation-duration: 8s;
  }

  &_size_l {
    width: 4px;
    height: 4px;
    box-shadow: $shadows-large;
    animation-duration: 6s;
  }
}


@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .2;
  }
}