.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  padding: 10px 20px;
}

.header__wrap {
  position: fixed;
  top: -150vh;
  right: 0;
  height: 100vh;
  padding: 10px 20px;
  width: 70vw;
  min-width: 600px;
  transition: top .2s linear;
  background-color: rgba($color_black, .7);

  &_active {
    top: 0;
    bottom: 0;
  }
}

