$font_main: 'NotCourierSans', Arial, sans-serif;
$font_programmer: 'KPProgrammerAlternatesNBP', Arial, sans-serif;

$color_black: #000;
$color_dark: #212121;
$color_white: #fff;
$color_grey: #c4c4c4;

$cursor_hover: url('../../images/cursor/cursor-hover.svg') 10 10, pointer;

$cubic-bezier: cubic-bezier(0.3, 0.27, 0.07, 1.64);