.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  min-width: 120px;
  box-sizing: border-box;
  padding: 12vh 0;
  background-color: $color_dark;
  border-left: 1px solid rgba($color_grey, .2);
  display: grid;
  flex-direction: column;
  grid-template-rows: 1fr 45px;
  justify-items: center;
  justify-content: center;
  z-index: 2;

  &_active {
    min-width: 55vw;
    grid-template-columns: 1fr 120px;
    // background: radial-gradient(ellipse at bottom, #2c2c2c 0%, $color_dark 100%);
    background: linear-gradient(90deg, rgba($color_black, .6) 21px, transparent 1%) center,
                linear-gradient(rgba($color_black, .6) 21px, transparent 1%) center,
                rgba($color_grey, .3);
    background-size: 22px 22px;
    background-position: top left;
    border-color: $color_dark;
    transition: min-width .2s linear;

    & .sidebar__navigation {
      grid-column: 2;
    }

    & .sidebar__lang-button {
      grid-column: 2;
    }
  }
}


@include AtDesktopM {
  .sidebar {
    width: 90px;
    grid-template-rows: 1fr 30px;

    &_active {
      grid-template-columns: 1fr 90px;
    }
  }
}


@include AtDesktopS {
  .sidebar {
    width: 80px;

    &_active {
      grid-template-columns: 1fr 80px;
    }
  }
}