.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 120px;
  background-color: $color_dark;
  border-left: 1px solid rgba($color_grey, .2);
  box-sizing: border-box;
  padding: 135px 0;
  z-index: 2;
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: space-between;

  &_active {
    width: 100vw;
    grid-template-columns: 1fr 120px;
    border-color: $color_dark;
    transition: .3s linear;

    & .sidebar__navigation {
      grid-column: 2;
    }

    & .sidebar__lang-button {
      grid-column: 2;
    }
  }
}

.sidebar__nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.sidebar__nav-item {
  margin-top: 50px;

  &:first-of-type {
    margin-top: 0;
  }
}

.sidebar__nav-link {
  position: relative;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-family: $font_main;
  font-weight: 400;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  text-align: right;

  &_active {
    font-weight: 700;
  }

  &:hover {
    color: $color_dark;

    & .sidebar__deco-link {
      left: -2rem;
    }
  }

}

.sidebar__deco-link {
  position: absolute;
  bottom: 0;
  left: -50vw;
  transform: rotate(180deg);
  writing-mode: horizontal-tb;
  font-weight: 700;
  font-size: 130px;
  color: $color_white;
  transition: .45s $cubic-bezier;
}

.sidebar__lang-button {
  transform: rotate(-90deg);
  font-family: $font_main;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: -0.05em;
}