.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 120px;
  box-sizing: border-box;
  padding: 12vh 0;
  background-color: $color_dark;
  border-left: 1px solid rgba($color_grey, .2);
  display: grid;
  flex-direction: column;
  grid-template-rows: 1fr 45px;
  justify-items: center;
  justify-content: center;
  z-index: 2;

  &_active {
    min-width: 100vw;
    grid-template-columns: 1fr 120px;
    background: radial-gradient(ellipse at bottom, #2c2c2c 0%, $color_dark 100%);
    border-color: $color_dark;
    transition: width .3s linear;

    & .sidebar__navigation {
      grid-column: 2;
    }

    & .sidebar__lang-button {
      grid-column: 2;
    }
  }
}

.sidebar__nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.sidebar__nav-link {
  display: block;
  position: relative;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  padding: 3.7vh 30px 0;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;

  &_active {
    font-weight: 700;
  }

  &::after {
    content: attr(data-hover);
    position: absolute;
    bottom: 0;
    left: -100vw;
    transform: rotate(180deg);
    padding-right: 20px;
    writing-mode: horizontal-tb;
    font-weight: 700;
    font-size: 130px;
    color: $color_white;
    transition: .45s $cubic-bezier;
  }

  &_hovered:hover {
    color: transparent;

    &::after {
      left: -1.7vw;
    }
  }
}

.sidebar__lang-button {
  margin: auto;
  transform: rotate(-90deg);
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: -0.05em;
}


@include AtDesktopM {
  .sidebar {
    width: 90px;
    grid-template-rows: 1fr 30px;

    &_active {
      grid-template-columns: 1fr 90px;
    }
  }

  .sidebar__nav-link {
    font-size: 24px;
    padding-left: 20px;
    padding-right: 20px;

    &::after {
      font-size: 106px;
    }
  }

  .sidebar__lang-button {
    font-size: 18px;
  }

}