.about__info {
  grid-column: 1;
}

.info {
  margin: 0;
  padding: 0;
  list-style: none;
}

.info__item {
  margin-bottom: 2.7vh;
  display: grid;
  grid-template-columns: 40% 60%;
}

.info__label {
  margin: 0;
  font-family: $font_main;
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;
}

.info__value {
  margin: 0;
  font-family: $font_programmer;
  font-size: 28px;
  line-height: .85;

  &_type_list {
    list-style: disc;
    padding-left: 20px;
  }
}

.about__info-education-item {
  margin-top: 2.7vh;

  &:first-of-type {
    margin-top: 0;
  }
}

.about__education-name {
  margin: 0;
}

.about__edecation-duration {
  margin: .9vh 0 0;
  font-size: 18px;
  line-height: 1;
  color: $color_grey;
}

.about__edecation-descr {
  margin: .9vh 0 0;
  font-size: 24px;
  line-height: 1;
  color: $color_grey;
}

.about__links-list {
  grid-column: 1;
  margin: auto 0 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.about__links-item {
  padding-left: 40px;

  &:first-of-type {
    padding-left: 0;
  }
}

.about__link {
  font-family: $font_main;
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;
}

.about__text {
  grid-column: 2;
  grid-row: 1;
  padding-right: 2.6vw;
}

.about__paragraph {
  margin: 0 0 2.8vh;
  font-family: $font_programmer;
  font-size: 24px;
  line-height: 1;
}


@include AtDesktopM {
  .info__item {
    margin-bottom: 2vh;
  }

  .info__label,
  .about__edecation-descr,
  .about__link {
    font-size: 20px;
  }

  .info__value {
    font-size: 22px;
  }

  .about__edecation-duration {
    font-size: 16px;
  }

  .about__paragraph {
    font-size: 18px;
  }
}


@include AtDesktopS {
  .info__label,
  .about__edecation-descr,
  .about__link {
    font-size: 16px;
  }

  .info__value {
    font-size: 18px;
  }

  .about__edecation-duration {
    font-size: 14px;
  }

  .about__paragraph {
    font-size: 16px;
  }
}